/* variables */
/* null */
body,
h1,
h2,
h3,
h4,
ul,
li,
header {
  margin: 0;
  padding: 0;
}
/* main styles */
body {
  background: url(../img/pattern.png) #f9f9f9;
  font: 1em helvetica, tahoma, sans-serif;
  min-width: 840px;
}
/* head */
header {
  width: 100%;
  height: 60px;
  background: #fff;
  position: fixed;
  box-shadow: 0 2px 6px -4px #000000;
  text-align: center;
  z-index: 3;
  min-width: 840px;
}
header .title {
  display: inline-block;
  margin: 6px -4px 0 0;
}
header .title img {
  width: 49px;
  height: 47px;
  display: inline-block;
}
header .title h2 {
  display: inline-block;
  color: #009df4;
  vertical-align: top;
  margin-top: 11px;
}
header .menu {
  display: inline-block;
  max-width: 480px;
  text-align: center;
  vertical-align: top;
  margin: 0 40px;
}
header .menu li {
  list-style-type: none;
  display: inline-block;
  margin: 0 -2px;
}
header .menu li:hover {
  cursor: pointer;
}
header .menu li a {
  color: #000;
  text-decoration: none;
  outline: none;
  font-size: 1.2em;
  padding: 19.5px 16px;
  display: inline-block;
}
header .menu li a:hover {
  color: #009df4;
}
#triangle {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #009df4;
  position: absolute;
  top: 60px;
}
#active a {
  color: #009df4;
}
.twitter {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}
/* feedback */
.feedback {
  width: 65px;
  height: 65px;
  position: absolute;
  right: 60px;
  bottom: 60px;
  position: fixed;
  opacity: 0.6;
  z-index: 10;
}
.feedback:hover {
  opacity: 1;
  cursor: pointer;
}
.blockOverlay {
  cursor: pointer !important;
}
.blockPage {
  cursor: default !important;
  top: 100px !important;
  left: 50% !important;
  margin-left: -332px !important;
}
.feedback_form form > div {
  display: inline-block;
  vertical-align: top;
}
.feedback_form {
  display: none;
}
.feedback_form h2 {
  font-weight: normal;
  color: #009df4;
  margin-bottom: 20px;
  text-align: left;
}
.feedback_form form div {
  text-align: left;
}
.feedback_form form div h4 {
  font-weight: normal;
  font-size: 0.9em;
  margin-left: 10px;
  display: inline-block;
}
.feedback_form form div h4 a {
  color: #009df4;
}
.feedback_form form div h4 a:hover {
  color: #cecece;
}
.feedback_form form div h4 span {
  color: #cecece;
  letter-spacing: 0.2em;
}
.feedback_form form div select {
  display: block;
  margin: 0 auto 20px auto;
  padding: 4px;
  border: 1px solid #cecece;
  display: inline-block;
  background: #fff;
}
.feedback_form form div select:focus {
  outline: none;
}
.feedback_form form div input {
  border: 1px solid #cecece;
  padding: 4px;
  margin: 0 0 20px 0;
  display: inline-block;
}
.feedback_form form div input::-moz-focus-inner {
  border: 0;
}
.feedback_form form div textarea {
  width: 310px;
  max-width: 310px;
  min-height: 111px;
  max-height: 172px;
  border: 1px solid #cecece;
  font: 0.9em helvetica, tahoma;
}
.feedback_form form div:nth-child(4) h4 {
  width: 100%;
  text-align: center;
  margin: 0 0 5px 0;
  font-size: 1.1em;
}
.feedback_form form button {
  display: block;
  margin: 0 auto !important;
  color: #009df4;
  border: none;
  background: -webkit-linear-gradient(top, #efefef, #e9e9e9);
  background: -moz-linear-gradient(top, #efefef, #e9e9e9);
  background: -o-linear-gradient(top, #efefef, #e9e9e9);
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  border-top: 1px solid #fff !important;
  margin: 0 auto 0 auto;
}
.feedback_form form button:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
  color: #000;
}
.feedback_form form button:hover {
  background: -webkit-linear-gradient(top, #f7f7f7, #f2f2f2);
  cursor: pointer;
  background: -moz-linear-gradient(top, #f7f7f7, #f2f2f2);
  background: -o-linear-gradient(top, #f7f7f7, #f2f2f2);
}
.textarea {
  margin-right: 10px;
}
.feedback_options {
  margin-top: 2px;
}
/* tech (buttons, gimmicks) */
.button {
  background: -webkit-linear-gradient(top, #efefef, #e9e9e9);
  background: -moz-linear-gradient(top, #efefef, #e9e9e9);
  background: -o-linear-gradient(top, #efefef, #e9e9e9);
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  border-top: 1px solid #fff !important;
  margin: 0 auto 0 auto;
}
.button:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
  color: #000;
}
.button:hover {
  background: -webkit-linear-gradient(top, #f7f7f7, #f2f2f2);
  cursor: pointer;
  background: -moz-linear-gradient(top, #f7f7f7, #f2f2f2);
  background: -o-linear-gradient(top, #f7f7f7, #f2f2f2);
}
.usic {
  color: #009df4;
}
/* CONTENT */
.content {
  margin: 0 auto;
  width: 840px;
}
.content section {
  width: 100%;
  display: block;
  padding-top: 85px;
}
.content section h1 {
  text-align: center;
  color: #009df4;
  font-weight: normal;
  margin-bottom: 20px;
}
#about .panorama_background {
  width: 820px;
  background: #fff;
  border: 1px solid #efefef;
  padding: 10px;
  box-shadow: 0 4px 6px -6px #5c5c5c;
}
#about .panorama_background .panorama {
  position: relative;
  height: 290px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #cecece;
}
#about .panorama_background .panorama img {
  position: relative;
  left: 0;
}
#about .img_title {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 0.9em;
}
#about p {
  text-indent: 2em;
  line-height: 1.8em;
  text-align: center;
}
#about p .text_title {
  font-size: 1.2em;
}
#about .usic_serv {
  width: 100%;
  text-align: center;
}
#about .usic_serv span {
  display: inline-block;
  width: 59px;
  height: 59px;
  margin: 0 10px;
}
#about .usic_serv span:hover {
  cursor: default;
  opacity: 0.2;
}
#about .usic_serv span:nth-child(1) {
  background: url(../img/usic_ser.png);
}
#about .usic_serv span:nth-child(2) {
  background: url(../img/usic_ser.png) -61px 0;
}
#about .usic_serv span:nth-child(3) {
  background: url(../img/usic_ser.png) -122px 0;
}
#about .usic_serv span:nth-child(4) {
  background: url(../img/usic_ser.png) -183px 0;
}
#about .usic_serv div.usic_sertitle {
  font-size: 0.8em;
  margin-left: -2px;
}
#about .usic_serv div.usic_sertitle span {
  background: none;
  text-align: center;
  color: #000;
}
#about .usic_serv div.usic_sertitle span:hover {
  opacity: 1;
  cursor: default;
}
.history_maintitle {
  margin-top: 40px;
  text-align: center;
}
h3.history_maintitle + span {
  font-size: 0.9em;
  text-align: center;
  display: block;
}
.usic_timeline {
  width: 100%;
  position: relative;
  padding: 10px;
}
.usic_timeline .history_line {
  width: 780px;
  height: 1px;
  background: #cecece;
  display: inline-block;
  vertical-align: middle;
  margin-left: 38px;
}
.usic_timeline .history_arrow {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 9px solid #cecece;
  display: inline-block;
  vertical-align: middle;
  margin-left: -6px;
}
.usic_timeline ul {
  position: absolute;
  top: 12px;
}
.usic_timeline ul li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.usic_timeline ul li a {
  color: #000;
  display: block;
  text-decoration: none;
}
.usic_timeline ul li a:hover {
  opacity: 0.4;
}
.usic_timeline ul li .history_marker {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background: #fff;
  text-align: center;
  margin: -1px auto;
}
.usic_timeline ul li .history_marker span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  vertical-align: top;
  margin-top: 6px;
}
.usic_timeline ul li .history_info {
  font-size: 0.9em;
}
.usic_timeline ul li .history_info .year {
  display: block;
  margin-top: 2px;
  font-weight: bold;
}
.usic_timeline ul li .history_info .event {
  font-size: 0.9em;
  margin-top: 6px;
}
.usic_timeline {
  margin-bottom: 80px;
}
.usic_timeline ul li:nth-child(1) .history_marker span {
  background: #009df4;
}
.usic_timeline ul li:nth-child(1) .history_pict {
  background-position: ;
}
.usic_timeline ul li:nth-child(2) {
  margin-left: 160px;
}
.usic_timeline ul li:nth-child(2) .history_marker span {
  background: #009df4;
}
.usic_timeline ul li:nth-child(2) .history_pict {
  background-position: -48px 0;
}
.usic_timeline ul li:nth-child(3) {
  margin-left: 80px;
}
.usic_timeline ul li:nth-child(3) .history_marker span {
  background: #006cff;
}
.usic_timeline ul li:nth-child(3) .history_pict {
  background-position: -96px 0;
}
.usic_timeline ul li:nth-child(4) {
  margin-left: 60px;
}
.usic_timeline ul li:nth-child(4) .history_marker span {
  background: #ffa500;
}
.usic_timeline ul li:nth-child(4) .history_pict {
  background-position: -144px 0;
}
.usic_timeline ul li:nth-child(5) {
  margin-left: 40px;
}
.usic_timeline ul li:nth-child(5) .history_marker span {
  background: #2dcf2d;
}
.usic_timeline ul li:nth-child(5) .history_pict {
  background-position: -192px 0;
}
.usic_timeline ul li:nth-child(6) {
  margin-left: 20px;
}
.usic_timeline ul li:nth-child(6) .history_marker span {
  background: #7650a1;
}
.usic_timeline ul li:nth-child(6) .history_pict {
  background-position: -237px 0;
}
.usic_timeline ul li .history_pict {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(../img/history.png);
  margin-top: 10px;
}
#projects > p {
  text-align: center;
  line-height: 2em;
  margin-top: 60px;
}
#projects > p a {
  color: #009df4;
  text-decoration: none;
  border-bottom: 1px dashed #cecece;
  font-size: 2em;
}
#projects > p a:hover {
  border-bottom: none;
  color: #000;
}
.list_projects > div > div {
  vertical-align: top;
  display: inline-block;
}
.list_projects > div {
  padding-top: 80px;
}
.list_projects > div .project_left .project_back div {
  width: 120px;
  height: 120px;
  background: url(../img/services.png);
  margin: 17px auto;
}
.list_projects > div:nth-child(1) .project_left h3 {
  color: #006cff;
}
.list_projects > div:nth-child(1) .project_left a:hover .project_back {
  box-shadow: 0 0 6px #006cff;
}
.list_projects > div:nth-child(2) .project_left h3 {
  color: #ffa500;
}
.list_projects > div:nth-child(2) .project_left .project_back div {
  background-position: -113px 0;
}
.list_projects > div:nth-child(2) .project_left a:hover .project_back {
  box-shadow: 0 0 6px #ffa500;
}
.list_projects > div:nth-child(3) .project_left h3 {
  color: #2dcf2d;
}
.list_projects > div:nth-child(3) .project_left .project_back div {
  background-position: -240px 0;
}
.list_projects > div:nth-child(3) .project_left a:hover .project_back {
  box-shadow: 0 0 6px #2dcf2d;
}
.list_projects > div:nth-child(4) .project_left h3 {
  color: #7650a1;
}
.list_projects > div:nth-child(4) .project_left .project_back div {
  background-position: -360px 0;
}
.list_projects > div:nth-child(4) .project_left a:hover .project_back {
  box-shadow: 0 0 6px #7650a1;
}
.project_left {
  text-align: center;
  width: 160px;
}
.project_left a {
  text-decoration: none;
  border: none;
}
.project_left h3 {
  margin-top: 10px;
  font-weight: normal;
}
.project_back {
  width: 160px;
  height: 160px;
  background: #fff;
  border-radius: 80px;
  border: 1px solid #e7e7e7;
}
.project_desc {
  margin-left: 20px;
  max-width: 600px;
}
.project_desc h3 {
  font-weight: normal;
}
.project_desc p {
  text-indent: 2em;
  line-height: 2em;
}
