/* variables */
@usic-color: #009df4;
@second-color: #cecece;
@background-color: #f9f9f9;
@history_scale: 20;

@wiki-color: #006cff;
@timetable-color: orange;
@fileshare-color: #0b9500;

/* null */
body, h1, h2, h3, h4, ul, li, header {margin: 0; padding: 0;}

/* main styles */
body {background: url(../img/pattern.png) @background-color; font: 1em helvetica, tahoma, sans-serif; min-width: 840px;}

/* head */
// menu
header {width: 100%; height: 60px; background: #fff; position: fixed; box-shadow: 0 2px 6px -4px black; text-align: center; z-index: 3; min-width: 840px;
	.title {display: inline-block; margin: 6px -4px 0 0;
		img {width: 49px; height: 47px; display: inline-block;}
		h2 {display: inline-block; color: @usic-color; vertical-align: top; margin-top: 11px;}
	}
	.menu {display: inline-block; max-width: 480px; text-align: center; vertical-align: top; margin: 0 40px;
		li {list-style-type: none; display: inline-block; margin: 0 -2px;
		&:hover {cursor: pointer;}
		a {color: #000; text-decoration: none; outline: none; font-size: 1.2em; padding: 19.5px 16px; display: inline-block;
			&:hover {color: @usic-color;}
			}
		}
	}
}

#triangle {width: 0; height: 0; border-left: 9px solid transparent; border-right: 9px solid transparent; border-top: 9px solid @usic-color; position: absolute; top: 60px;}
#active a {color: @usic-color;}
//twitter
.twitter {display: inline-block; vertical-align: top; margin-top: 20px;}

/* feedback */
.feedback {width: 65px; height: 65px; position: absolute; right: 60px; bottom: 60px; position: fixed; opacity: 0.6; z-index: 10;
	&:hover {opacity: 1; cursor: pointer;}
}

.blockOverlay {cursor: pointer !important;}
.blockPage {cursor: default !important; top: 100px !important; left: 50% !important; margin-left: -332px !important;}
.feedback_form form > div {display: inline-block; vertical-align: top;}
.feedback_form {display: none;
	h2 {font-weight: normal; color: @usic-color; margin-bottom: 20px; text-align: left;}
	form {
		div {text-align: left;
			h4 {font-weight: normal; font-size: 0.9em; margin-left: 10px; display: inline-block;
				a {color: @usic-color;
				&:hover {color: @second-color;}
				}
				span {color: @second-color; letter-spacing: 0.2em;}
			}
			select {display: block; margin: 0 auto 20px auto; padding: 4px; border: 1px solid @second-color; display: inline-block; background: #fff;
				&:focus {outline: none;}
				}
			input {border: 1px solid @second-color; padding: 4px; margin: 0 0 20px 0; display: inline-block;}
			input::-moz-focus-inner {border:0}
			textarea {width: 310px; max-width: 310px; min-height: 111px; max-height: 172px; border: 1px solid @second-color; font: 0.9em helvetica, tahoma;}
		}
		div:nth-child(4) h4 {width: 100%; text-align: center; margin: 0 0 5px 0; font-size: 1.1em;}
		button {display: block; margin: 0 auto !important; color: @usic-color; border: none; .button}
	}
}
.textarea {margin-right: 10px;}
.feedback_options {margin-top: 2px;}

/* tech (buttons, gimmicks) */
.button {background: -webkit-linear-gradient(top, #efefef, #e9e9e9); background: -moz-linear-gradient(top, #efefef, #e9e9e9); background: -o-linear-gradient(top, #efefef, #e9e9e9); padding: 4px 8px 4px 8px; border-radius: 4px; box-shadow: 0 0 1px rgba(0,0,0,0.8); border-top: 1px solid #fff !important; margin: 0 auto 0 auto;
		&:active {box-shadow: inset 0 1px 1px rgba(0,0,0,0.4); color: #000;}
		&:hover {background: -webkit-linear-gradient(top, #f7f7f7, #f2f2f2); cursor: pointer; background: -moz-linear-gradient(top, #f7f7f7, #f2f2f2); background: -o-linear-gradient(top, #f7f7f7, #f2f2f2);}
}
.usic {color: @usic-color;}

/* CONTENT */

.content {margin: 0 auto; width: 840px;
	section {width: 100%; display: block; padding-top: 85px;
	h1 {text-align: center; color: @usic-color; font-weight: normal; margin-bottom: 20px;}
	}
}

// about section
#about {
	.panorama_background {width: 820px; background: #fff; border: 1px solid #efefef; padding: 10px; box-shadow: 0 4px 6px -6px #5C5C5C;
		.panorama {position: relative; height: 290px; overflow: hidden; margin: 0 auto; border: 1px solid #cecece;
			img {position: relative; left: 0;}
		}
	}
	.img_title {text-align: center; display: block; width: 100%; margin-top: 10px; font-size: 0.9em;}
	p {text-indent: 2em; line-height: 1.8em; text-align: center;
		.text_title {font-size: 1.2em;}
	}
	.usic_serv {width: 100%; text-align: center;
		span {display: inline-block; width: 59px; height: 59px; margin: 0 10px;
			&:hover {cursor: default; opacity: 0.2;}
		}
		span:nth-child(1) {background: url(../img/usic_ser.png);}
		span:nth-child(2) {background: url(../img/usic_ser.png) -61px 0;}
		span:nth-child(3) {background: url(../img/usic_ser.png) -122px 0;}
		div.usic_sertitle {font-size: 0.8em; margin-left: -2px;
			span {background: none; text-align: center; color: #000;
				&:hover {opacity: 1; cursor: default;}
			}
		}
	}
}

.history_maintitle {margin-top: 40px; text-align: center;}
h3.history_maintitle + span {font-size: 0.9em; text-align: center; display: block;}

.usic_timeline {width: 100%; position: relative; padding: 10px;
	.history_line {width: 780px; height: 1px; background: #cecece; display: inline-block; vertical-align: middle; margin-left: 38px;}
	.history_arrow {width: 0; height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 9px solid #cecece; display: inline-block; vertical-align: middle; margin-left: -6px;}
	ul {position: absolute; top: 12px;
		li {list-style-type: none; display: inline-block; text-align: center; vertical-align: top;
			a {color: #000; display: block; text-decoration: none; 
				&:hover {opacity: 0.4;}
			}
			.history_marker {width: 18px; height: 18px; border-radius: 9px; background: #fff; text-align: center; margin: -1px auto;
				span {display: inline-block; width: 6px; height: 6px; border-radius: 3px; vertical-align: top; margin-top: 6px;}
			}
			.history_info {font-size: 0.9em;
				.year {display: block; margin-top: 2px; font-weight: bold;}
				.event {font-size: 0.9em; margin-top: 6px;}
			}
		}
	}
}
.usic_timeline {margin-bottom: 80px;
	ul {
		li:nth-child(1) {.history_marker span {background: @usic-color;} .history_pict {background-position: ;}}
		li:nth-child(2) {margin-left: @history_scale * 8px; .history_marker span {background: @usic-color;} .history_pict {background-position: -48px 0;}}
		li:nth-child(3) {margin-left: @history_scale * 4px; .history_marker span {background: @wiki-color;} .history_pict {background-position: -96px 0;}}
		li:nth-child(4) {margin-left: @history_scale * 3px; .history_marker span {background: @timetable-color;} .history_pict {background-position: -144px 0;}}
		li:nth-child(5) {margin-left: @history_scale * 2px; .history_marker span {background: @fileshare-color;} .history_pict {background-position: -192px 0;}}
	}
	ul li .history_pict {display: inline-block; width: 48px; height: 48px; background: url(../img/history.png); margin-top: 10px;}
}

// projects section
#projects > p {text-align: center; line-height: 2em; margin-top: 60px;
	a {color: @usic-color; text-decoration: none; border-bottom: 1px dashed #cecece; font-size: 2em;
		&:hover {border-bottom: none; color: #000;}
	}
}
.list_projects > div > div {vertical-align: top; display: inline-block;}
.list_projects > div {padding-top: 80px;}
	.list_projects > div .project_left .project_back div {width: 120px; height: 120px; background: url(../img/services.png); margin: 17px auto;}
	.list_projects > div:nth-child(1) .project_left {
		h3 {color: @wiki-color;}
		a:hover .project_back {box-shadow: 0 0 6px @wiki-color;} 
	}
	.list_projects > div:nth-child(2) .project_left {
		h3 {color: @timetable-color;} 
		.project_back div {background-position: -113px 0;}
		a:hover .project_back {box-shadow: 0 0 6px @timetable-color;}
	}
	.list_projects > div:nth-child(3) .project_left {
		h3 {color: @fileshare-color;} 
		.project_back div {background-position: -240px 0;}
		a:hover .project_back {box-shadow: 0 0 6px @fileshare-color;}
	}
.project_left {text-align: center; width: 160px;
	a {text-decoration: none; border: none;}
	h3 {margin-top: 10px; font-weight: normal;}
}
.project_back {width: 160px; height: 160px; background: #fff; border-radius: 80px; border: 1px solid #e7e7e7;}

.project_desc {margin-left: 20px; max-width: 600px;
	h3 {font-weight: normal;}
	p {text-indent: 2em; line-height: 2em;
	}
}


// team section
#team {text-align: center;}
#team > span {font-size: 2em; margin-bottom: 20px; display: block;}

.team_container > span:nth-child(1) {border-radius: 10px 0 0 10px;}
.team_container > span:nth-child(2) {border-radius: 0;}
.team_container > span:nth-child(3) {border-radius: 0;}
.team_container > span:nth-child(4) {border-radius: 0;}
.team_container > span:nth-child(5) {border-radius: 0 10px 10px 0;}
.team_container {width: 800px; margin: 0 auto; text-align: center;}
	.team_container > span {display: inline-block; margin: 10px 0 4px 0; border-top: 2px solid #fff; border-bottom: 2px solid #fff; border-radius: 10px; padding: 8px; position: relative;
		a {text-decoration: none; color: #000;
			&:hover{opacity: 0.6;}
		}
		a div {display: inline-block; font-size: 0.6em; width: 80px; margin: 8px -2px; position: relative;
			span {color: #000; margin-top: 6px; display: block;}
			.candidate {position: absolute; background: #e9e9e9; width: 64px; margin: 0 auto; opacity: 0.6; font-size: 1.1em; display: inline-block;}
		}
	}
.group_title {display: block; margin: 0 auto;}

@leader: #FF9100;
@senior: #FF5D4B;
@developer: #22B91D;
@organizer: #FF6EF6;
@technician: #000;

.team_container {
	.leader {border-color: @leader; .group_title {color: @leader;} }
	.senior_operator {border-color: @senior; .group_title {color: @senior;} }
	.developer {border-color: @developer; .group_title {color: @developer;} }
	.event_organizer {border-color: @organizer; .group_title {color: @organizer;} }
	.technician {border-color: @technician; .group_title {color: @technician;} }
	.operator {max-width: 720px; border-color: @usic-color; 
		.group_title {color: @usic-color;}
		a > div {margin-bottom: 10px;}
	}
}
@width: 64;

.team_container span a div > div {width: 64px; height: 64px; background: url(../img/team.png); margin: 0; border-radius: 8px;}
	.team_container span:nth-child(2) a div > div {background-position: -@width * 6px;}
	.team_container span:nth-child(3) a:nth-child(2) div > div {background-position: -@width * 11px;}
	.team_container span:nth-child(4) a:nth-child(1) div > div {background-position: -@width * 4px;}
	.team_container span:nth-child(4) a:nth-child(2) div > div {background-position: -@width * 1px;}
	.team_container span:nth-child(5) a:nth-child(1) div > div {background-position: -@width * 5px;}
	.team_container span:nth-child(6) a:nth-child(1) div > div {background-position: -@width * 2px;}
	.team_container span:nth-child(6) a:nth-child(3) div > div {background-position: -@width * 9px;}
	.team_container span:nth-child(6) a:nth-child(4) div > div {background-position: -@width * 3px;}
	.team_container span:nth-child(6) a:nth-child(6) div > div {background-position: 0;}
	.team_container span:nth-child(6) a:nth-child(7) div > div {background-position: -@width * 8px;}
	.team_container span:nth-child(6) a:nth-child(11) div > div {background-position: -@width * 7px;}
	.team_container span:nth-child(6) a:nth-child(13) div > div {background-position: -@width * 10px;}